fastapi
uvicorn
sqlalchemy
aiomysql
pymysql
python-multipart
python-jose[cryptography]
passlib[argon2]
python-dotenv
langchain==0.1.16
langchain-community
langchain-huggingface
faiss-cpu
pypdf
requests
alembic
transformers
torch
accelerate
pydantic[email]
sentence-transformers
email-validator
argon2-cffi